.bottom {
  margin-top: auto;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: $desktop-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 $container-margin;
  box-sizing: border-box;
  margin-bottom: 30px;

  &__links {
    display: flex;
    margin: 0 (-$column-margin);
  }

  &__link {
    margin: 0 $column-margin;
  }

}