.header {
  display: flex;
  margin: 0 auto;
  max-width: $desktop-width;
  padding: 35px 40px;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  &__menu {
    display: flex;
    align-items: center;
  }
  &__link:nth-child(n + 2) {
    margin-left: 58px;
  }
  &__buttons {
    display: flex;
    flex: 0 1 301px;
    justify-content: flex-end;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(n + 2) {
      margin-left: 16px;
    }
  }
}
.button {
  &_light {
    width: 52px;
    height: 52px;
    flex: 0 0 52px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid $gray-5;
  }
  &_dark {
    color: $white;
    background-color: $gray-1;
    border-radius: 999px;
    padding: 16px 32px;
  }
}
@media screen and (max-width: $mobile-width) {
  .navigation__menu {
    display: none;
  }
}