$desktop-width: 1440px;
$tablet-width: 1100px;
$mobile-width: 800px;

$columns: 12;
$column-margin: 16px;
$container-margin: 112px;

$gray-1: #101010;
$gray-2: #232323;
$gray-3: #868686;
$gray-4: #F3F3F3;
$gray-5: #E8E8E8;
$white: #FFFFFF;
$green: #9EFFBF;
$purple: #7941A7;
$violet: #E2BEFF;
$blue: #1059C8;